[Desktop Entry]
Categories=Game;ActionGame;AdventureGame;Simulation;
Comment[en_US]=A launcher for Minecraft focused on legacy versions of the game
Comment=A launcher for Minecraft focused on legacy versions of the game
Exec=java -jar /usr/share/betacraft/BetaCraft-Launcher-Java.jar
GenericName[en_US]=A launcher for Minecraft focused on legacy versions of the game
GenericName=A launcher for Minecraft focused on legacy versions of the game
Icon=preferences-desktop-gaming
Keywords=game;minecraft;mc;
MimeType=application/zip;application/x-modrinth-modpack+zip;
Name[en_US]=Betacraft Launcher
Name=Betacraft Launcher
Path=
StartupNotify=true
StartupWMClass=BetacraftLauncher
Terminal=false
TerminalOptions=
Type=Application
Version=1.09_16
X-KDE-SubstituteUID=false
X-KDE-Username=
